<% if(error) { %><div class="error"><%= error %></div><% } %>
<% if(info) { %><div class="info"><%= info %></div><% } %>

<h2>Upload &hellip;</h2>
<form method='post' action='/upload'>
  <div>
    <input type='text' name='url' id='url'/>
  </div>
  <h2>&hellip; to <%= name %>'s dropbox</h2>
  <div id="submit">
    <input type='submit' value='Upload' class='submit' />
  </div>
  <div>
    <a href="https://www.dropbox.com/home/apps/urlpipe">View in Dropbox folder</a>
  </div>
</form>

<div>
<%= tasks.length %> queued
<% for(task in tasks){ %>
  <%= task.url %> -> <%= task.filename %>: <%= task.status %>
<% } %>
</div>